includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    ignoreErrors:
        -
            message: '#^Method Codedor\\TranslatableRoutes\\TranslateRoute\:\:getAllForNameOrCurrent\(\) should return Codedor\\TranslatableRoutes\\LocaleCollection but returns Illuminate\\Support\\Collection\<\(int\|string\), string\>.$#'
            path: src/TranslateRoute.php


